<form action="/robots" method="post">
  <h4>Enter the details of your new buddy robot:</h4>
  <input type='text' name='robot[name]' placeholder=name /><br/>
  <input type='text' name='robot[city]' placeholder=city /><br/>
  <input type='text' name='robot[status]' placeholder=state /><br/>
  <input type='text' name='robot[department]'placeholder=department /><br/>
  <input type='submit' />
</form>
